<script>

$(document).ready(function() {

	$('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},      
                      events : [

                      <% @bookable.events.each do |event| %>
                      {
                        title : '<%= event[:title] %>', 
                        start : '<%= event[:start].strftime("%F %H:%M:%S") %>',
                        end : '<%= event[:end].strftime("%F %H:%M:%S") %>',
                        allDay: <%= event[:allday].to_s %>
                      },
                      <% end %>
                      ],
    timeFormat: ''
		
	});
	
});

</script>

<h2><%= @bookable.name %></h2>

<div id="feeds">
  <a href="<%= @bookable.calendar_xml %>" class="label label-xml">XML</a>
  <a href="<%= @bookable.calendar_ical %>" class="label label-ical">ICAL</a>
</div>

<div id='loading' style='display:none'>loading...</div>
<div id='calendar'></div>